.expenseItem{
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color:rgba(128, 128, 128, 0.503);
    margin:20px;
    border-radius: 3px;
    padding: 10px;
    
    
    
}




.expenseItem-Item{
    margin-left:10px;
    display: flex;
    align-items: center;
}

.expenseItem-Amount{
    margin-left: auto;
    display: flex;
    align-items: center;
}
