
.filter{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}


.text {
    color: white;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

.option{
    padding: 10px 40px;
    font-weight: bolder;
}

.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: rgb(255, 236, 208);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    margin: 20px;
}