.expenseItem{
    display: flex;
    justify-content: flex-start;
    color: white;
    background-color:rgba(128, 128, 128, 0.503);
    margin:20px;
    border-radius: 5px;
    padding: 5px;
    
    
    
}




.expenseItem-Item{
    margin-left:10px;
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    
  
}

.expenseItem-Amount{
    margin-left: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
    border: 1px solid white;
    background-color: rgba(165, 125, 23, 0.774);
    border-radius: 10px;
    padding: 0px 10px;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
    overflow: hidden;
    white-space: nowrap;
    
    
    
}
